*{
  margin: 0;
  padding: 0;
}

imgid#logoNav,#rightHeader
{
  display: inline-block;
  vertical-align: top; 
}

img#logoNav
{
  height: 150px;
}

li#NavItem
{
  list-style-type: none;
  display: inline;
  margin-left: 10%;
}

header{
  background-color: rgb(145, 214, 246);
}

#logo{
  height: 25%;
}

#navegacion ul li{
  display: inline;
  margin-left: 10%;
}


.disclaimer{
  color:red;
  font-weight: bolder;
}

#map { height: 500px; 
width: 600px }

