imgid#logoNav,#rightHeader
{
  display: inline-block;
  vertical-align: top; 
}

img#logoNav
{
  height: 150px;
}

li#NavItem
{
  list-style-type: none;
  display: inline;
  margin-left: 10%;
}

div#scrollview-alertas{
  height: 450px;
  overflow: scroll;
}
